@media screen and (max-width:768px) {
    header{
        width: 100%;
    }
    /* FIRST SECTION */
    .image_main_content{
        max-height: 100%;
        max-width: 100%;
        grid-column: 1/4;
    }
    .container_split{
        grid-template-rows: auto auto;
        grid-template-columns: minmax(1vw,40px) auto minmax(1vw,40px);
    }
        .container_column{
            grid-column: 2;
            grid-row: 1;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
            .container_column > *{
                margin: 0px;
            }
            .container_column > button{
                margin-top: 1vw;
                margin-bottom: 1vw;
            }
        .image_main_content{
            grid-column: 2;
            grid-row: 2;
        }
    /* MIDDLE */
        .article{
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            padding: 6vw;
            text-align: center;
        }
            .left{
                grid-column: 1;
                grid-row: 1;
            }
            .right{
                grid-column: 1;
                grid-row: 2;
            }
    
    /* FOOTER */
    .center_content{
        grid-template-columns: 50vw;
        grid-template-rows: auto auto auto;
    }
        .list_icons{
            margin: 0px;
            padding: 0px;
            flex-direction: row;
            justify-content: flex-start;
        }
            .list_icons > li{
                margin: 5px;
            }
        .split_in_two{
            margin:10px 0px 10px 0px;
            padding: 0px;
            grid-template-columns: auto;
        }
        .to_the_right{
            grid-column: 2;
        }
    /* BUBBLE */
    .bubble{
        min-width: 95vw;
        grid-template-columns: 20px auto 20px;
        grid-template-rows: 20px auto 20px;
    }
}
@media screen and (max-width:320px){
    footer{
        padding-top: 250px;
    }
    .image_main_content{
        max-height: 100%;
        max-width: 100%;
        grid-column: 1/4;
    }
    .middle_section{
        padding-bottom: 60px;
        grid-template-columns: minmax(auto,auto) minmax(90%,90%) minmax(auto,auto);
    }
}