/* =========================== RESET CSS =========================== */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Public+Sans:wght@400;500;600;700&display=swap');
html{ font-size: 100%; --default_font_std: 'Public Sans', sans-serif;--default_font_title:'Lato', sans-serif}
*{ margin: 0px; padding: 0px; font-family: var(--default_font_std)}
ul{ list-style: none; }
p{ font-size: 1rem; line-height: 1.5em; }
h1{ font-family: var(--default_font_std); font-size: 3.125rem; line-height: 3.125rem; }
h2{ font-family: var(--default_font_std); font-size: 2.5rem; line-height: 2.5rem; }
h3{ font-family: var(--default_font_std); font-size: 2rem; line-height: 2.1rem; }
body{padding:0px; margin:0px;--invisible:rgba(0,0,0,0);}
button{border: none;padding: 1em;}
/* ================================================================= */

/* BODY */
body{
    --mar:-7em
}

/* global v */
.pink_it{
    background-color: #FF52C1;
    box-shadow: 4px 4px 6px rgb(221, 221, 221);
    border-radius: 28px;
    font-weight: bold;
    padding: 1.2em 3.5em;
    color: white;
    cursor: pointer;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    background-image: url("./img/hero_bg.svg");
    background-position: center;
    background-size: cover;
}
    .nav_header_fly{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.3em;
        column-gap: 3em;
    }
        .nav_header_fly img{
            width: 100%;
            min-width: 104px;
            max-width: 200px;
        }
        .nav_header_fly button{
            justify-self: end;
            font-weight: bold;
            transition: 0.2s;
            cursor: pointer;
            padding: 0.8em 2em;
            background-color: white;
            box-shadow: 3px 3px 6px rgb(214, 214, 214);
            border-radius: 1.5em;
        }
        .nav_header_fly button:hover{
            box-shadow: 3px 3px 6px rgb(161, 161, 161);
        }
    header section{
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }
        header section img{
            place-self: center;
            max-width: 100%;
        }
        .header_section_content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
            .header_section_content > *{
                margin:0.6em 0px;
            }
/* MAIN */
main{
    display: flex;
    flex-direction: column;
}
.cards_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7vw;
}
    .cards{
        border-radius:1em;
        box-shadow: 4px 4px 6px rgb(221, 221, 221);
        margin-bottom: 2.5em;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        min-height: 27.5em;
        padding: 1em;
    }
        .cards > div{
            text-align: center;
        }
            .cards > div h2{
                margin: 0.6em 0em;
            }
        .cards img{
            place-self: center;
            max-width: 100%;
        }
        .cards:nth-child(1) > img{
            grid-column: 1;
            grid-row: 1;
        }
        .cards:nth-child(1) > div{
            grid-column: 1;
            grid-row: 2;
        }

/* BUBBLE */

.bubble{
    place-self: center;
    position: relative;
    z-index:2;
    bottom: var(--mar);
    margin: 0px 3.2vw;
    background-color: white;
    box-shadow: 4px 4px 6px rgb(221, 221, 221);
    border-radius: 15px;
    padding: 6em 4em;
    text-align: center;
    max-width: 800px;
    max-height: 280px;
}
    .bubble button{
        margin-top: 3em;
    }

/* FOOTER */
footer{
    z-index: 1;
    text-decoration: none;
    list-style: none;
    color: white;
    padding: 4.2vw;
    padding-top: calc((var(--mar)*-2));
    max-height: 53.25em;
    background-color: #00252E;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 2em;
}
    footer a{
        text-decoration: none;   
        color: white;
    }
    .container_adress{
        display: flex;
        flex-direction: column;
    }
        .container_adress > *{
            margin: 1em 0px;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 1em;
            justify-content: left;
        }
    .links_web > li{
        margin: 1em 0px;
    }
    .link_social_icon{
        place-self: center;
        display: flex;
        flex-direction: row;
    }
        .link_social_icon figure{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border:white 2px solid;
            height: 2em;
            width: 2em;
        }
            .link_social_icon img{
                height: 1em;
                width: 1em;
                place-self: center;
            }
        .link_social_icon > li{
            margin:1em;
        }
   