/* =========================== RESET CSS =========================== */
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;600;700&family=Public+Sans:wght@400;500;600;700&display=swap');
html{ font-size: 100%; --default_font_std: 'Public Sans', sans-serif;--default_font_title:'Lato', sans-serif}
*{ margin: 0px; padding: 0px; font-family: var(--default_font_std)}
ul{ list-style: none; }
p{ font-size: 1rem; line-height: 1.5em; }
h1{ font-family: var(--default_font_std); font-size: 3.125rem; line-height: 3.125rem; }
h2{ font-family: var(--default_font_std); font-size: 2.5rem; line-height: 2.5rem; }
h3{ font-family: var(--default_font_std); font-size: 2rem; line-height: 2.1rem; }
body{padding:0px; margin:0px;--invisible:rgba(0,0,0,0);}
button{border: none;padding: 1em;}
/* ================================================================= */

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    background-image: url("./img/hero_bg.svg");
    background-position: center;
    background-size: cover;
}
    .nav_header_fly{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.3em;
    }
    header section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
        header section img{
            place-self: center;
            max-width: 100%;
        }
        .header_section_content{
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
        }
            .header_section_content > *{
                margin:0.6em 0px;
            }